@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

:root {
    --main-bg-color: #FFE6DE;
    --second_bg_color: #f0f8ff;
    --red_color: #FF6347;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}



.box {
    display: flex;
    flex-flow: column;
    height: 100%;
}


/* ШАПКА */
.header_appereance {
    background: rgba( 240, 248, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 1.5rem;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 0.8rem 1rem;
    box-shadow: 0rem 0.4rem 2rem rgb(0, 0, 0, 0.3);  /* СдвигПраво СдвигВниз СилаРазмытия */
    /* transition: all 0.5s ease; */
}

.header_short {
    margin: 0.6rem;
    padding: 0.8rem 0.8rem;
    position: absolute;
    animation: animateC 0.4s ease-in-out forwards;

}

.header_full {
    margin: 0.6rem;
    padding: 0.8rem 0.8rem;
    overflow: hidden;  /* Чтобы при раскрытии всё что не в кадре не отображалось */
    position: absolute;
	animation: animateO 0.4s ease-in-out forwards;
    
}

.header-menu{
    margin: 0.8rem 0;
}

.header-menu a, .header-menu p {
    text-decoration: none;  /* Это для a - отключение подчеркивания */
    cursor: pointer;
    color: #575d9e;
    font-size: 1.2rem;
    background-color: var(--second_bg_color);
    border-radius: 1rem;
    width: fit-content;
    padding: 0.3rem 0.8rem;
    margin: 0.7rem 0;
}


/* Шапка. Логотип. */
.header_logo {
    margin: 0;
    color: var(--red_color);
    background-color: var(--main-bg-color);
    border: 1px var(--red_color) solid;
    font-size: 2rem;
    display: inline-block;  /* Чтобы размер блока был по тексту, а не во весь экран */
    padding: 0.4rem 0.8rem;
    border-radius: 1rem;
    cursor: pointer;
    margin-bottom: 10px;
}

.player {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.player-btn {
    padding: 0.6rem;
    border-radius: 0.7rem;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    width: 2rem;
    height: 2.4rem;
}


.player-btn.prev {
    background-image: url("prev.svg");
}
.player-btn.next {
    background-image: url("next.svg");
}
.player-btn.repeat {
    background-image: url("repeat.svg");
}
.player-btn.play{
    background-image: url("play.svg");
}


/* ❗️❗️❗️❗️❗️❗️ ПЕРЕНОС В MENU.HTML */
/* Шапка. Ссылка на автора. */
.header_author {
    text-decoration: none;
    font-size: 1.5rem;
    color:#575d9e;
    transition: color 0.2s ease;
}

.header_author:hover {
    color:#3d47b3;
}






main {
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg-color);
    flex: 1 1 auto;
    /* The above is shorthand for: */
    /* flex-grow: 1, */
    /* flex-shrink: 1, */
    /* flex-basis: auto; */
}


section.table{
    display: flex;
    flex: 1 1 auto;
    background-color: darkolivegreen;
}


/* =============== Настройки руки (нижняя часть) =============== */
section.hand {
    background-color: darkcyan;
    position: absolute;
    bottom: 0;
    width: 100%;  /* Размер поля с рукой */
    height: 220px;  /* Размер поля с рукой */

    overflow-x: scroll;
    scroll-behavior: smooth;
    white-space:nowrap;  /* Свойство, за счёт которого при ужатии, элементы будут не обрезаться а продолжаться вправо */
}

/* Отцентровка всех карт на руке */
.cards {
    width:fit-content; /* Чтобы у блока были размеры  по ширине*/
    margin: 0 auto;  /* Отцентровка */ 
}

/* Настройка каждой из карт */
.card {
    position: relative;
    display: inline-flex;  /* Чтобы были в ряд */
    height: 12rem;
    width: 8rem;
    margin: 0.8rem 0.3rem;
    border-radius: 1rem;
    box-shadow: 0.2rem 0.2rem 1rem rgb(0, 0, 0, 0.4);
    cursor: pointer;
}

/* Плавное увеличение при наведении мышки */
.card:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
}

/* Плавное уменьшение при отведении мышки */
.card:not(:hover){
    transform: scale(1);
    transition: all 0.3s ease;

}


/* =============== Настройки текста на картах =============== */
/* Информация на карточке (5 значений) */
.card-text{
    font-size: 1.2rem;

    color: white;
    position: absolute;  /* Весь текст будет размещён ручками дальше */
    font-family: 'Roboto Condensed', sans-serif;
}

/* КАРТА. Центральное число. */
.main-num{
    left: 0; right: 0; top: 0; bottom: 0;
    height: fit-content; width: fit-content;
    margin: auto;
    font-size: 6rem;
}

/* КАРТА. Верхнее число. */
.up-num{
    left: 0.5rem;
    top: 0.5rem;
}

/* КАРТА. Нижнее число. */
.down-num{
    right: 0.5rem;
    bottom: 0.5rem;
    transform: scale(-1, -1);  /* Зеркально отразить */ 
}

/* КАРТА. Левые правила. */
.rule.left{
    left: 0.2rem;
    writing-mode: vertical-lr;  /* Не понял разницы с writing-mode: vertical-rl; ну и ладно :) */
    top:50%;
    transform: scale(-1, -1) translateY(50%);  /* Отразить по горизонтали + вертикали + к центру */
}

/* КАРТА. Правые правила. */
.rule.right{
    right: 0.2rem;
    writing-mode: vertical-lr;  /* Не понял разницы с writing-mode: vertical-rl; ну и ладно :) */
    top:50%;
    transform: translateY(-50%);;
}


/* =============== ЦВЕТА КАРТ =============== */
.card-color-red{
    background-color: #ae2141;
}

.card-color-orange{
    background-color: #c76131;
}

.card-color-yellow{
    background-color: #c79330;
}

.card-color-green{
    background-color: #639b44;
}

.card-color-lightblue{
    background-color: #4199bf;
}

.card-color-blue{
    background-color: #4a508e;
}

.card-color-purple{
    background-color: #7e4288;
}












@keyframes animateO {
    0% {
        height: 3.2rem;
        width: 8.3rem;
    }

    100% {
        height: 12.5rem;
        width: 12rem;
    }
}

@keyframes animateC {
    0% {
        height: 12.5rem;
        width: 12rem;
    }
    100% {
        height: 3.2rem;
        width: 8.3rem;
    }

}


.hidden {
    display: none;
}